@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>YeniAdminEklemeSayfasi</h1>
<br />
@using (Html.BeginForm("AddAdmin", "Authorization", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Admin Kullanıcı Adi:")
        @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminUserName)
        <br />
        <br />
        @Html.Label("Şifreyi Giriniz")
        @Html.TextAreaFor(x => x.AdminPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminPassword)
        <br />
        <br />
        <button class="btn btn-success">Kaydet</button>
    </div>
}

