@model EntityLayer.Content
@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<h1>İçerik Girişi</h1>
<br />
@using (Html.BeginForm("AddContent", "WriterPanelContent", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Başlıklar")
    @Html.DropDownListFor(x => x.HeadingID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
    <br />
    @Html.Label("İçeriğinizi Yazın")
    @Html.TextAreaFor(x => x.ContentValue, 10, 30, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ContentValue)
    <br />
    <button class="btn btn-info">Kaydet</button>
</div>
}

