@model EntityLayer.Concrete.Yetenek
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Yetenek Düzenle</h1>
<br />
@using (Html.BeginForm("EditSkills", "Yeteneklerim", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x=>x.YetenekID)
        @Html.Label("Yetenek Adı")
        @Html.TextBoxFor(x => x.YetenekName, new { @class = "form-control" })
        <br />
        <br />
        @Html.Label("Yetenek Degeri")
        @Html.TextBoxFor(x => x.YetenekValue, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Değişiklikleri Kaydet</button>
    </div>
}
